body{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 40px;
}

.Box1{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    width: 40%;
}
.username{
    display: flex;
    align-items: center;
    background-color: aqua;
    height: 50px;
    padding: 8px 16px;
    min-width: 90px;
    justify-content: center;
    border-radius: 10px;
}



.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    padding: 0 20px;
}
.main_box1{
    font-size: 28px;
    margin-left: 80px;
    padding: 0%;
}
.main_box1 h1{
    margin-bottom: 2px;
    margin-top: 2px;
}
.para{
    font-size: 18px;
}
.button{
    margin-top: 50px;
}
.button button{
    height: 75px;
    width: 250px;
    border-radius: 10px;
    background-color: aqua;
    color: white;
    font-weight: bolder;
    font-size: 18px;
    border: none;
}
.main_box2{
    height: 500px;
}
.main_box2 img{
    height: 100%;
    object-fit: cover;
}
.laundry{
    color: rgb(0, 179, 255);
}